/*Colors*/
/*Spacing*/
/*Font*/
*, :after, :before {
  border: 0 solid;
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
}

html, body {
  height: auto;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.stack {
  display: flex;
  flex-direction: column;
}

.center {
  align-items: center;
  justify-content: center;
}

body {
  background-color: #ff7a7a;
  background-image: url("./images/bg-intro-mobile.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: space-between;
  overflow-y: scroll;
  overflow-x: hidden;
}
body .container {
  margin: 64px 0;
  padding: 0 16px;
  height: 100%;
  width: auto;
}
body .container .hero-section {
  margin: 32px 0;
  text-align: center;
}
body .container .hero-section h2, body .container .hero-section p {
  color: white;
  margin-bottom: 16px;
}
body .container .hero-section h2 {
  font-size: 2rem;
}
body .container .hero-section p {
  font-weight: 400;
  line-height: 1.7rem;
  max-width: 50ch;
}
body .container .form-section .trail-button {
  color: white;
  cursor: pointer;
  background-color: #6055a5;
  border-radius: 9px;
  box-shadow: 0 5px 2px 2px rgba(71, 65, 83, 0.2);
  font-size: 1rem;
  font-weight: 700;
  margin: 16px 0;
  padding: 16px 64px;
  outline: none;
  text-align: center;
}
body .container .form-section .trail-button span {
  font-weight: 400;
  opacity: 0.7;
}
body .container .form-section form {
  background-color: white;
  border-radius: 9px;
  box-shadow: 0 5px 2px 3px rgba(48, 46, 56, 0.2);
  margin: 8px 0;
  padding: 32px 32px;
}
body .container .form-section form div {
  margin-bottom: 16px;
  position: relative;
}
body .container .form-section form div img {
  display: none;
  top: 0;
  bottom: 25%;
  right: 10px;
  margin-top: auto;
  margin-bottom: auto;
  position: absolute;
}
body .container .form-section form div .error-message {
  display: none;
  text-align: right;
  color: #ff7a7a;
  font-size: 0.625rem;
  font-style: italic;
  margin: 0;
  padding: 0 4px;
}
body .container .form-section form div input {
  border: 1px solid lightgray;
  border-radius: 5px;
  color: #3e3c49;
  font-weight: 700;
  padding: 16px 16px;
  outline: none;
}
body .container .form-section form div input:focus {
  border-color: #3e3c49;
}
body .container .form-section form div input::placeholder {
  font-weight: 400;
}
body .container .form-section form button {
  background-color: #38cc8c;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 16px 0;
  margin-bottom: 16px;
  outline: none;
  text-transform: uppercase;
}
body .container .form-section form p {
  color: #b9b6d3;
  font-size: 0.7rem;
  margin-bottom: 16px;
  padding: 0 16px;
  text-align: center;
}
body .container .form-section form p a {
  color: #ff7a7a;
  font-weight: 600;
  text-decoration: none;
}

@media only screen and (min-width: 960px) {
  html, body, main {
    height: 100%;
    width: 100%;
  }

  body {
    background-image: url("./images/bg-intro-desktop.png");
  }
  body .container {
    flex-direction: row;
    height: 100%;
    margin: 0 64px;
    padding: 0 0;
  }
  body .container .hero-section {
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: 64px;
    max-width: 50ch;
    width: auto;
  }
  body .container .hero-section h2, body .container .hero-section p {
    text-align: left;
    margin-bottom: 32px;
  }
  body .container .hero-section h2 {
    font-size: 3rem;
    line-height: 1.1em;
  }
  body .container .form-section {
    width: auto;
  }
  body .container .form-section form input {
    padding: 16px 32px;
  }
}

/*# sourceMappingURL=index.css.map */
